language: python
python:
  - "2.7"
  - "3.4"
install:
  - pip install -r requirements-dev.txt
  - pip install -r requirements.txt

script:
  nosetests -svd --with-doctest --with-coverage --cover-package eof

after_success: coveralls

notifications:
  email:
    on_success: never
    on_failure: always
