interactions:
- request:
    body: client_id=cdse-public&grant_type=password
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://identity.dataspace.copernicus.eu/auth/realms/CDSE/protocol/openid-connect/token
  response:
    body:
      string: '{"access_token": "REDACTED_access_token", "expires_in": 600, "refresh_expires_in":
        3600, "refresh_token": "REDACTED_refresh_token", "token_type": "Bearer", "not-before-policy":
        0, "session_state": "05768e37-280e-47cb-988a-5466333578b3", "scope": "AUDIENCE_PUBLIC
        openid email profile ondemand_processing user-context"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
